@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Fredoka+One&family=Red+Hat+Text:wght@400;700&display=swap");
.pa11y-red, .pa11y.red {
  background: linear-gradient(-45deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 0.5rem 0.5rem;
  background-color: #e63c1a;
  background-size: 1rem 1rem;
}
.pa11y-orange, .pa11y.orange {
  background: linear-gradient(-45deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 0.5rem 0.5rem, radial-gradient(rgba(0, 0, 0, 0.2) 12%, rgba(0, 0, 0, 0) 16%) 0rem 0.5rem;
  background-color: #e6a21a;
  background-size: 1rem 1rem;
}
.pa11y-yellow, .pa11y.yellow {
  background: radial-gradient(rgba(0, 0, 0, 0.2) 12%, rgba(0, 0, 0, 0) 16%) 0.5rem 0.5rem;
  background-color: #e6e61a;
  background-size: 1rem 1rem;
}
.pa11y-green, .pa11y.green {
  background: radial-gradient(rgba(0, 0, 0, 0.2) 12%, rgba(0, 0, 0, 0) 16%) 1rem 1rem, linear-gradient(90deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 0.5rem 0.5rem, linear-gradient(180deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 0.5rem 0.5rem;
  background-color: #33cc99;
  background-size: 1rem 1rem;
}
.pa11y-blue, .pa11y.blue {
  background: linear-gradient(90deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 0.5rem 0.5rem, linear-gradient(180deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 0.5rem 0.5rem;
  background-color: #3399cc;
  background-size: 1rem 1rem;
}
.pa11y-purple, .pa11y.purple {
  background: linear-gradient(90deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 0.5rem 0.5rem, linear-gradient(180deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 0.5rem 0.5rem, linear-gradient(-45deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 1rem 1rem;
  background-color: #6f4db3;
  background-size: 1rem 1rem;
}
.pa11y-violet, .pa11y.violet {
  background: linear-gradient(-45deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 1rem 1rem, linear-gradient(45deg, transparent 44%, rgba(0, 0, 0, 0.2) 45%, transparent 55%) 1rem 1rem;
  background-color: #b34d91;
  background-size: 1rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  color: #282828;
}

a {
  cursor: pointer;
}

body {
  font: normal 15px/1.5em "Red Hat text", helvetica arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25em;
  margin-bottom: 1.25em;
}

h1 {
  font-family: "Fredoka One", helvetica arial, sans-serif;
  font-size: 3em;
  font-weight: 900;
  line-height: 1em;
  margin-bottom: 1em;
}

h2 {
  font-weight: normal;
  font-size: 2em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
  max-width: 40rem;
}

a {
  text-decoration: none;
}

pre, code, .pre, .code {
  font-size: 1rem;
  font-family: "Fira Code", monospace;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.pre, .code {
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  margin: 0 0.3rem;
}

hr {
  display: block;
  border: none;
  border-bottom: 0.2rem solid #282828;
  margin: 2rem 0;
}

body > section {
  display: flex;
  align-items: center;
  flex-direction: column;
  place-content: center;
  border: 0.25rem solid #282828;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #f0f0f0;
  min-height: 90vh;
  padding: 4rem 0;
}

.container {
  width: 100%;
  max-width: 64rem;
  padding: 0 1rem;
}
.container > header {
  margin: 2rem 0;
}

.content h3 {
  margin: 2em 0 1em 0;
}

body {
  padding: 0 2rem;
  transition: background ease-in-out 1s;
  background-repeat: repeat;
}
body.red > section {
  background-color: #e63c1a;
}
body.orange > section {
  background-color: #e6a21a;
}
body.yellow > section {
  background-color: #e6e61a;
}
body.green > section {
  background-color: #33cc99;
}
body.blue > section {
  background-color: #3399cc;
}
body.purple > section {
  background-color: #6f4db3;
}
body.violet > section {
  background-color: #b34d91;
}

section {
  background-image: unset;
  font-size: 1.25em;
  transition: background 1.24s ease-in-out;
}
section header h2 {
  font-family: "Fredoka One", helvetica arial, sans-serif;
}
section .content pre, section .content code {
  display: block;
  margin: 1.5rem 0;
}

#cover {
  width: 100%;
  min-height: 80vh;
  flex-direction: row;
  font-size: 1rem;
  user-select: none;
}
#cover figure, #cover header {
  width: 50%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  transition: all 0.6s ease-in-out;
}
#cover img {
  width: 80%;
  height: auto;
}
#cover header {
  flex-direction: column;
  min-width: 50%;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
#cover h1, #cover h2 {
  max-width: 23rem;
}
#cover h1 {
  text-transform: capitalize;
  display: block;
}
#cover h1 strong {
  display: block;
}
#cover h2 {
  font-family: "Red Hat Text", sans-serif;
}
#cover a {
  color: #282828;
}
@media screen and (max-width: 46rem) {
  #cover {
    flex-direction: column;
    text-align: center;
  }
  #cover figure, #cover header {
    width: 100%;
  }
  #cover img {
    width: 100%;
    margin-bottom: 2rem;
    transform: translateX(1rem);
  }
  #cover h2 {
    max-width: 100%;
  }
}

#colors .rainbow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  border: 0.25rem solid #282828;
}
#colors .rainbow > .pa11y {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0;
  flex-basis: 6rem;
  flex-grow: 1;
  position: relative;
}
#colors .rainbow > .pa11y pre {
  font-size: 0.8rem;
  position: absolute;
  bottom: -4rem;
  padding: 0.3em 0.5em;
}
@media screen and (max-width: 46rem) {
  #colors .rainbow {
    flex-direction: column;
    width: 6.5rem;
  }
  #colors .rainbow > .pa11y pre {
    bottom: 0;
    left: 7rem;
  }
}

#main-navigation {
  height: 10vh;
  min-height: 6.4rem;
  text-align: center;
  border: 0.25rem solid #282828;
  margin-bottom: 2rem;
}
#main-navigation ul {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  list-style: none;
}
#main-navigation li {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
}
#main-navigation li:last-child a {
  border-right: none;
}
#main-navigation a {
  font-size: 1.25rem;
  display: flex;
  font-weight: bold;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  color: #282828;
  border-right: 0.25rem solid #282828;
}
#main-navigation a:hover {
  background-image: unset;
}
#main-navigation a:focus, #main-navigation a:hover, #main-navigation a:active {
  box-shadow: 0 0.5rem 0rem #282828;
}

/*# sourceMappingURL=main.css.map */
