@import './pa11y.scss';

@import './base/reset';
@import './base/text';
@import './base/layout';

body {
  padding: 2rem;
  transition: background ease-in-out 1s;
}

#cover {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .25rem solid black;
  margin-bottom: -.25rem;
  @extend .pa11y;
  @extend .yellow;

  figure, header {
    width: 50%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    transition: all .6s ease-in-out;
  }

  img {
    width: 80%;
    height: auto;
  }

  header {
    flex-direction: column;
    min-width: 50%;
  }

  h1 {
    text-transform: capitalize;
    display: block;
  }

  h2 { max-width: 32rem }

  @media screen and ( max-width: 46rem) {
    flex-direction: column;
    text-align: center;

    img {
      width: 100%;
      margin-bottom: 2rem;
      transform: translateX(-1.5rem);
    }
  }

}

#colours {

  .rainbow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    border: .25rem solid $pa11y-body-text-color;

    & > .pa11y {
      display: block;
      width: 6rem;
      height: 6rem;
      margin: 0;
      flex-basis: 6rem;
      flex-grow: 1;
      position: relative;

      pre {
        position: absolute;
        bottom: -2rem;
      }

    }

  }
}

#main-navigation {
  height: 10vh;
  min-height: 6.4rem;
  text-align: center;
  border: .25rem solid black;
  margin-bottom: 2rem;

  ul {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    list-style: none;
  }
  li {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;

    &:last-child a {
      border-right: none;
    }
  }

  a {
    font-size: 1.25rem;
    display: flex;
    font-weight: bold;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    color: black;
    border-right: .25rem solid black
  }
}
