@import './pa11y.scss';
@import './base/reset';
@import './base/text';
@import './base/layout';

body {
  padding: 0 2rem;
  transition: background ease-in-out 1s;
  background-repeat: repeat;

  &.red {
    & > section { background-color: $pa11y-red; }
  }
  &.orange {
    & > section { background-color: $pa11y-orange; }
  }
  &.yellow {
    & > section { background-color: $pa11y-yellow; }
  }
  &.green {
    & > section { background-color: $pa11y-green; }
  }
  &.blue {
    & > section { background-color: $pa11y-blue; }
  }
  &.purple {
    & > section { background-color: $pa11y-purple; }
  }
  &.violet {
    & > section { background-color: $pa11y-violet; }
  }
}

section {
  background-image: unset;
  font-size: 1.25em;
  transition: background 1.24s ease-in-out;

  header {
    h2 {
      font-family: 'Fredoka One', helvetica arial, sans-serif;
    }
  }

  .content {
    pre,code {
      display: block;
      margin: 1.5rem 0;
    }
  }
}


#cover {
  width: 100%;
  min-height: 80vh;
  flex-direction: row;
  font-size: 1rem;
  user-select: none;

  figure, header {
    width: 50%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    transition: all .6s ease-in-out;
  }

  img {
    width: 80%;
    height: auto;
  }

  header {
    flex-direction: column;
    min-width: 50%;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }

  h1, h2 {
    max-width: 23rem;
  }

  h1 {

    strong { display: block; }

    text-transform: capitalize;
    display: block;
  }

  h2 {
    font-family: "Red Hat Text", sans-serif;
  }

  a {
    color: $pa11y-body-text-color;
  }

  @media screen and ( max-width: 46rem) {
    flex-direction: column;
    text-align: center;

    figure, header {
      width: 100%
    }

    img {
      width: 100%;
      margin-bottom: 2rem;
      transform: translateX(1rem);
    }

    h2 {
      max-width: 100%
    }
  }

}

#colors {

  .rainbow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    border: .25rem solid $pa11y-body-text-color;

    & > .pa11y {
      display: block;
      width: 6rem;
      height: 6rem;
      margin: 0;
      flex-basis: 6rem;
      flex-grow: 1;
      position: relative;

      pre {
        font-size: .8rem;
        position: absolute;
        bottom: -4rem;
        padding: .3em .5em;
      }

    }

    @media screen and ( max-width: 46rem) {
      flex-direction: column;
      width: 6.5rem;

      & > .pa11y {
        pre {
          bottom: 0;
          left: 7rem;
        }
      }
    }

  }
}

#main-navigation {
  height: 10vh;
  min-height: 6.4rem;
  text-align: center;
  border: .25rem solid $pa11y-body-text-color;
  margin-bottom: 2rem;

  ul {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    list-style: none;
  }
  li {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;

    &:last-child a {
      border-right: none;
    }
  }

  a {
    font-size: 1.25rem;
    display: flex;
    font-weight: bold;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    color: $pa11y-body-text-color;
    border-right: .25rem solid $pa11y-body-text-color;

    &:hover {
      background-image: unset;
    }

    &:focus, &:hover, &:active {
      box-shadow: 0 .5rem 0rem $pa11y-body-text-color;
    }
  }
}
