$pa11y-pttrn-size: 1rem 1rem;

$pa11y-red-pttrn: linear-gradient( -45deg, transparent 44%,rgba(0,0,0,.2) 45%,transparent 55%) 0.5rem 0.5rem;

$pa11y-orange-pttrn: linear-gradient(
  -45deg,
  transparent 44%,
  rgba(0,0,0,.2) 45%,
  transparent 55%
) .5rem .5rem,
radial-gradient(
    rgba(0,0,0,0.2) 12%,
    rgba(0,0,0,0) 16%
) 0rem .5rem;

$pa11y-yellow-pttrn: radial-gradient(
  rgba(0,0,0,0.2) 12%,
  rgba(0,0,0,0) 16%
) .5rem .5rem;

$pa11y-green-pttrn: radial-gradient(
  rgba(0,0,0,0.2) 12%,
  rgba(0,0,0,0) 16%
) 1rem 1rem,
linear-gradient(
  90deg,
  transparent 44%,
  rgba(0,0,0,0.2) 45%,
  transparent 55%
) .5rem .5rem,
linear-gradient(
  180deg,
  transparent 44%,
  rgba(0,0,0,0.2) 45%,
  transparent 55%
) .5rem .5rem;

$pa11y-blue-pttrn: linear-gradient(
  90deg,
  transparent 44%,
  rgba(0,0,0,0.2) 45%,
  transparent 55%
) .5rem .5rem,
linear-gradient(
  180deg,
  transparent 44%,
  rgba(0,0,0,0.2) 45%,
  transparent 55%
) .5rem .5rem;

$pa11y-purple-pttrn: linear-gradient(
  90deg,
  transparent 44%,
  rgba(0,0,0,0.2) 45%,
  transparent 55%
) .5rem .5rem,
linear-gradient(
  180deg,
  transparent 44%,
  rgba(0,0,0,0.2) 45%,
  transparent 55%
) .5rem .5rem,
linear-gradient(
  -45deg,
  transparent 44%,
  rgba(0,0,0,.2) 45%,
  transparent 55%
) 1rem 1rem;

$pa11y-violet-pttrn: linear-gradient(
  -45deg,
  transparent 44%,
  rgba(0,0,0,.2) 45%,
  transparent 55%
) 1rem 1rem,
linear-gradient(
  45deg,
  transparent 44%,
  rgba(0,0,0,.2) 45%,
  transparent 55%
) 1rem 1rem;
