body > section {
  display: flex;
  align-items: center;
  flex-direction: column;
  place-content: center;
  border: .25rem solid $pa11y-body-text-color;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $pa11y-body-background;
  min-height: 90vh;
}

.container {

  width: 100%;
  max-width: 64rem;
  padding: 0 1rem;

  & > header {
    margin: 2rem 0;
  }

}
