@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Red+Hat+Text:ital,wght@0,700;1,500&display=swap');

body {
  font: normal 15px/1.5em 'Red Hat text', helvetica arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25em;
}

h1 {
  font-family: 'Fredoka One', helvetica arial, sans-serif;
  font-size: 3em;
  font-weight: 900;
  line-height: 1em;
  margin-bottom: 1em;
}

h2 {
  font-weight: normal;
  font-size: 2em;
}

a {
  text-decoration: none;
}


section {
   header {
    font-size: 1.25rem;
    h2 {
      font-family: 'Fredoka One', helvetica arial, sans-serif;
    }
    p { font-weight: normal;}
  }
}
